@model IEnumerable<AdmissionsOnlineSystem.Models.EducationDetail>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Application.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Qualification)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BoardUniversity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subjects)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Percentage)
        </th>
       
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Application.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Qualification)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BoardUniversity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Subjects)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Percentage)
        </td>
        
    </tr>
}

</table>
