@model AdmissionsOnlineSystem.Models.Application
<ul id="tabstrip" class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#PersonalDetails" role="tab" data-toggle="tab">Personal Information</a></li>
    <li><a href="#EducationDetails" role="tab" data-toggle="tab">Educational Details</a></li>
    <li><a href="#EnclosedDocuments" role="tab" data-toggle="tab">Enclosed Documents</a></li>
</ul>
<div class="tab-content">
    <div class="tab-pane fade in active" id="PersonalDetails">
        <div>
            <h4>Application</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.User.Email)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.User.Email)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TelePhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TelePhoneNumber)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.ApplicationId }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
    <div class="tab-pane fade" id="EducationDetails">Education Details</div>
    <div class="tab-pane fade" id="EnclosedDocuments">Enclosed Documents</div>
</div>
