@model BlogMvc.Models.Comment
@using  BlogMvc.Helpers

@using (Html.BeginForm("Add", "Comments", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Add a Comment</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.PostId)
    @Html.HiddenFor(model => model.UserFullName, new { Value = "test" })
    @Html.HiddenFor(model => model.CreatedOn, new { Value = DateTime.Now })
    @Html.HiddenFor(model => model.UpdatedOn, new { Value = DateTime.Now })
    <div class="form-group">


        @Html.TextAreaFor(m => m.Content, new { style = "min-width:100%", rows = "6", placeholder = "Comment" })
        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })

    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


