@model IEnumerable<BlogMvc.Models.Post>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserFullName)
        </th>
       
    </tr>

@foreach (var item in Model) {
    if(item.PostedOn != null) { 
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UpdatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserFullName)
            </td>
        
        </tr>
    }
}

</table>
